<%- include("../partials/header.ejs") %>

<div class="container">
<header class="jumbotron" style="margin: 100px 0" >
	<div class="container">
	<h1>
		MOOD<span>/</span>BOARD
		
	</h1>
	<p>
		Exciting Room Designs, Posters and much more!
	</p>
	<p>
	<a class="btn btn-dark btn-large" href="/index/new">Suggest a New Product</a>
	</p>
	</div>
</header>

<div class="row text-center">
	<% product.forEach(function(product){ %>
	<div class="col-md-3 col-sm-6">
		<div class="fluid">
		<img src="<%= product.image%>" class="img-fluid">
			<a href="/index/<%=product._id%>" class="btn btn-primary btn-block btn-sm"><strong>Rs.<%= product.price%></strong></a>
		<div class="caption">
		<h4><%= product.name %> </h4>
		</div>
		</div>
	</div>
<% }) %>
	</div>
</div>	
<%- include("../partials/footer.ejs") %>
	