<%- include("../partials/header.ejs") %>

<div class="container">
<form class="inline">
	<div class="row align-items-center check ">
    <div class="col-lg-12 d-none d-lg-block">
      <h1 class="text-center text-white one">MOOD<span class="red">/</span>BOARD</h1>      
      <h1 class="text-center text-white one">MOOD<span class="red">/</span>BOARD</h1>
      <h1 class="text-center text-white one">MOOD<span class="red">/</span>BOARD</h1>
	<a class="btn btn-danger btn-xl news" class="text-center text-white one" href="/index/new">Suggest a New Product</a>
	
    </div>
	 </div>
	</form>

<div class="row text-center">
	<% product.forEach(function(product){ %>
	<div class="col-md-3 col-sm-6">
		<div class="fluid">
		<img src="<%= product.image%>" class="img-fluid">
			<a href="/index/<%=product._id%>" class="btn btn-primary btn-block btn-sm"><strong>Rs.<%= product.price%></strong></a>
		<div class="caption">
		<h4 class="prod"><%= product.name %> </h4>
		</div>
		</div>
	</div>
<% }) %>
	</div>
</div>	
<%- include("../partials/footer.ejs") %>
	